/* start Discount */
.discount {
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  position: relative;
  z-index: -1;
  display: flex;
}

.discount .image {
  width: 50%;
  text-align: center;
  padding: 30px 10px;
  color: var(--color-white);
}

.discount .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
  background-color: var(--main-color);
  opacity: 0.9;
}

@media (max-width: 991px) {
  .discount {
    flex-direction: column;
  }

  .discount .image {
    width: 100%;
  }

  .discount .image::before {
    width: 100%;
  }
}

.discount .image h2,
.discount .dicount-request h2 {
  text-transform: capitalize;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 25px;
  font-weight: 700;
}

.discount .image p {
  line-height: 1.5;
  font-size: 19px;
  margin-bottom: 30px;
  padding: 0 20px;
}

.discount .image p::selection {
  background-color: black;
}

.discount .image img {
  width: 50%;
  max-width: 100%;
}

.discount .dicount-request {
  background-color: var(--color-white);
  width: 50%;
  text-align: center;
  padding: 30px 10px;
}

@media (max-width: 991px) {
  .discount .dicount-request {
    width: 100%;
  }
}

.discount .dicount-request form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.discount .dicount-request form .input {
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  outline: none;
  border: 0;
  background-color: #f6f6f6;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #777;
}

.discount .dicount-request form .input:focus {
  outline: none;
}

.discount .dicount-request form .input::placeholder {
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.discount .dicount-request form textarea.input {
  resize: none;
  height: 200px;
  line-height: 1.5;
}

.discount .dicount-request form input[type="submit"] {
  margin-top: 10px;
  padding: 15px 20px;
  width: 250px;
  font-size: 25px;
  color: var(--color-white);
  background-color: var(--main-color);
  outline: none;
  border: 0;
  letter-spacing: 0.6px;
  font-weight: 700;
  opacity: 0.9;
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.discount .dicount-request form input[type="submit"]:hover {
  opacity: 1;
}

/* Dark Mode */
body.dark .discount .dicount-request,
body.dark .discount .dicount-request form .input,
body.dark .discount .dicount-request form .input::placeholder {
  transition: var(--main-transition);
}
body.dark .discount .dicount-request {
  background-color: var(--dark);
  color: var(--light);
}

body.dark .discount .dicount-request form .input {
  background-color: #2f3640;
  color: var(--light);
}
body.dark .discount .dicount-request form .input::placeholder {
  color: var(--light);
}
/* End Discount */
