/* start Variables */

:root {
  --main-color: #2196f3;
  --section-padding: 100px;
  --section-background: #ececec;
  --main-transition: 0.4s;
  --color-white: #fff;
  --dark: #404045;
  --light: #eeeeee;
}

/* End Variables */

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;800&display=swap");

/* start Global Rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

html {
  scroll-behavior: smooth;
  transition: var(--main-transition);
  overflow-x: hidden;
}

body {
  position: relative;
  z-index: -1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* small */

@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

/* medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 992px) {
  .container {
    width: 1140px;
  }
}

.main-heading {
  margin-bottom: 75px;
}

.main-heading h2 {
  padding: 10px 20px;
  border: 2px solid #000;
  width: fit-content;
  margin: auto;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  transition: 0.8s ease-in;
  -webkit-transition: 0.8s ease-in;
  -moz-transition: 0.8s ease-in;
  -ms-transition: 0.8s ease-in;
  -o-transition: 0.8s ease-in;
}

.main-heading h2:hover {
  border-color: var(--color-white);
  color: var(--color-white);
}

.main-heading h2::before,
.main-heading h2::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: -1;
}

.main-heading h2::before {
  left: -22px;
}

.main-heading h2::after {
  right: -22px;
}

.main-heading h2:hover::before {
  animation: left-move 0.5s linear forwards;
  -webkit-animation: left-move 0.5s linear forwards;
}

.main-heading h2:hover::after {
  animation: right-move 0.5s linear forwards;
  -webkit-animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
  0% {
    left: -22px;
  }
  50% {
    left: 0;
  }
  100% {
    left: 0;
    border-radius: 0%;
    width: 50%;
    height: 100%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
  }
}

@keyframes right-move {
  0% {
    right: -22px;
  }
  50% {
    right: 0;
  }
  100% {
    right: 0;
    border-radius: 0%;
    width: 50%;
    height: 100%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
  }
}

/* End Global Rules */
